@model Blogie.UI.Models.ViewModel.PostCategory;

<div class="mx-auto mt-5">
    <div class="d-flex flex-column justify-content-start align-content-start w-50 mx-auto">
        <h1 class="heading">Edit Post</h1>
        <form asp-action="EditPost" asp-controller="Admin" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Post.PostID"/>
            <input type="hidden" asp-for="Post.UserID"/>
            <div asp-validation-summary="All"></div>
            <input type="text"
                   placeholder="Title"
                   class="d-block my-2 w-100 inputField" asp-for="Post.Title" />

            @{
                SelectList categories = new SelectList(Model.Categories, "CategoryID", "Description");
            }
            @Html.DropDownListFor(m => m.Post.CategoryID, categories, "Please select a Category", new { @class = "inputField", onchange = "handleChange(this)" })

            @* <textarea name="body" id="" cols="30" rows="10" class="mt-3" placeholder="Body..." asp-for="Post.Description">

            </textarea> *@
            @Html.TextAreaFor(m => m.Post.Description, new { @class = "mt-3", rows = "10", cols = "30" })
            <label for="avatar" class="d-block">Add Thumbnail</label>
            <input type="file" class="d-block my-2 w-100 inputField" name="file" asp-for="Post.Picture" />
            <div class="d-flex flex-row">

                @Html.LabelFor(x => x.Post.isFeatured, "Feature this Post?", new { @class = "form-check-label" })
                @Html.CheckBoxFor(x => x.Post.isFeatured, new { @class = "form-check-input ms-2" })
            </div>
            <input type="submit" value="Edit Post" />
        </form>
    </div>
</div>
